<h1> Login </h1>

<%= form_for Student.new, url: login_path, method: :post do |f|%>

	<p><%= f.label :username %>
		<%=f.text_field :username %>
	</p>

	<p><%= f.label :password %>
		<%= password_field_tag :password %>
	</p>

	<%= f.submit "Log In" %>

<% end %>

<br>

<%= link_to "Log in with GitHub", '/auth/github' %>