<%= form_for @student do |f| %>

	<p><%= f.label :first_name %>
	<%= f.text_field :first_name %></p>

	<p><%= f.label :last_name %>
	<%= f.text_field :last_name %></p>

	<p><%= f.label :age %>
	<%= f.text_field :age %></p>
	<i>Student must be older than 5 years old to fence.</i>

	<p><%= f.label :weapon %>
	<%= f.text_field :weapon %></p>

	<p><%= f.label :username %>
	<%= f.text_field :username %></p>

		<% if session[:student_id].nil? %> 
		<p><%= f.label :password %>
		<%= f.password_field :password %></p>
		<% end %>

		<% if session[:student_id].nil? %>
 			<% if @student.errors.any? %>
      		There were some errors:
       		<% @student.errors.full_messages.each do |message| %>
        	<%= message %>
        	<% end %>
        <%end%>

	<p><%= f.submit %></p>

	<% end %>
	<% end %>