<h2><center>Your Homepage</center></h2>

<h3>My Profile:</h3>
<li><strong>Username:</strong> <%= @student.username %></li>
<li><strong>Weapon:</strong> <%= @student.weapon %></li>
<p><%= link_to "Edit My Profile", edit_student_path(@student) %></p>

<h3>Lessons This Week: </h3>

<% @student.lessons.each do |lesson| %>
<p>Coach: <%= lesson.coach.name %></p>
<p>Date: <%= lesson.date.strftime(" %A, %b %e at %l:%m %p")%></p>
<% end %>

<%= link_to "Schedule a Lesson", new_lesson_path %>