<h2><center>Your Homepage</center></h2>

<h3>My Profile:</h3>
<li><strong>Username:</strong> <%= @student.username %></li>
<li><strong>Weapon:</strong> <%= @student.weapon %></li>
<p><%= link_to "Edit My Profile", edit_student_path(@student) %></p>

<%= button_to "Schedule a Lesson", new_lesson_path %>

<h3>Lessons This Week: </h3>

<% @student.lessons.each do |lesson| %>
<p>Coach: <%= link_to lesson.coach.name, coach_path(lesson.coach) %></p>
<p>Date: <%= link_to lesson.date.strftime("%A, %d %b %Y %l:%M %p"), lesson_path(lesson)%></p>
<%= button_to "Cancel Lesson", lesson_path(lesson), method: :delete %>
<% end %>

