<center><h2>Schedule a Lesson</h2></center>

<%= form_for @lesson do |f| %>
	<p><%= f.datetime_select :date, ampm: true, start_year: 2020, order: [:month, :day, :year], minute_step: 30 %><p>
	<p><%= f.collection_select(:coach_id, Coach.all, :id, :name) %></p>
	<p><%= f.collection_select(:student_id, Student.all, :id, :first_name) %></p>
	<%= f.submit %>
<% end %>