<center><h2>Get to Know Our Coaches</h2></center>

<h3>Find A Coach By Experience:</h3> 
  <%= form_tag("/coaches", method: "get") do %>
    <%= text_field_tag :years %>
<h3>Find A Coach By Region:</h3> 
    <%= select_tag "region", options_from_collection_for_select(@coaches, "region", "region"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
  <br>

<% @coaches.each do |coach| %>
<fieldset>
<p><strong>Name:</strong> <%= coach.name %></p>
<p><strong>Profile:</strong> <%= coach.profile %></p>
<p><strong>Years of Experience:</strong> <%= coach.years %></p>
<p><center><%= link_to "Schedule a Lesson with #{coach.name}", new_lesson_path %></center></p>
</fieldset><br>
<% end %>