<!DOCTYPE html>
<html>
  <head>
    <title>FencingClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
        <style>
         body {
          background-image: url("https://images.unsplash.com/photo-1542500121-0d07e29f27f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          }
        </style>

      <% if logged_in? %>
      <%= link_to "Log Out", logout_path %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Home", student_path(session[:student_id]) %>
      <% else %>
        <%= link_to "Home", root_path %>
      <%end%>
      <%= link_to "Coaches", coaches_path %>
      <%= link_to "Students", students_path %>
      <%= link_to "Lessons", lessons_path %>
    <h1><center>Fencing Club Website</center></h1>
 
    <%= yield %>
  </body>
</html>
