<!DOCTYPE html>
<html>
  <head>
    <title>FencingClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1><center>Fencing Club Website</center></h1>
    <%= yield %>
  </body>
</html>
